*{
    margin: 0 ;
    padding: 0;
    font-family: Montserrat;
    
}

.white{
    color: #fff;
}

.margin-left{
    margin-left: 1rem;
}


.main{
    display: flex;
    background-color: #000;
}

/* sidebar */

.sidebar{
    height: 100vh;
    width: 22rem;
}

.sidebar-menu{
    background-color: #141414;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.menu-item{
    line-height: 1rem;
    padding: 1rem;
}

.sidebar-library{
    background-color: #141414;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.library-item{
    line-height: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.item-title img{
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.library-content{
    background-color: #1e1e1eee;
    padding: 1rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    margin: 0.7rem 0.7rem 1.5rem 0.7rem;
}

.library-content p{
    font-size: 0.8rem;
}

.badge{
border-radius: 1rem;
line-height: 1.7rem;
padding: 0 1rem;
border: none;
font-weight: 650;
}

/* main */

.main-content{
    background-color: #141414;
    flex: 1;
    padding: 1rem;
}

.main-content h3{
    margin-top: 1rem;
}

.content-cards{
    display: flex;
    margin-bottom: 3rem;
}

.main-nav{
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #141414;
    align-items: center;
    padding: 1rem;
}

.black{
    background-color: #000;
    color: #fff;
}

.main-card{
    background-color:#1e1e1eee ;
    width: 14%;
    height: 15.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 1rem 0 1rem;
}

.main-card p{
    font-size: 0.8rem;
    margin-top: 1rem;

}

.img-card{
    height: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.img-card img{
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* music player */

.music-player{
    background-color: #000;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
}

.song-info{
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-img-container{
    height: 3rem;
    width: 3rem;
}

.info-img-container img{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.info-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.info-title p {
    margin-top: 0.3rem;
    font-size: 0.7rem;
    padding-bottom: 1rem;
}

.info-options{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.info-options i{
    font-size: 1.5rem;
    margin: 0.7rem
}

.music-controls{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.control-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
}

.control-menu img{
    height: 1rem;
    width: 1rem; 
    margin: 0 2rem;
}

.progressbar-container{
  
    margin-bottom: 0.5rem;
}
.progressbar{
    appearance: none;
    width: 30rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
}

.controls{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.controls i{
    height: 1rem;
    width: 1rem; 
    padding: 1rem;
}

.volume-bar{
    appearance: none;
    width: 5rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
}